* {
    box-sizing: border-box;
    font-family: 'Permanent Marker', cursive;
}

.error-msg {
    color: red;
}

html {
    background: url(images/goalboard.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

h1 {
    font-size: 80px;
    font-weight: bolder;
    margin-bottom: 0px;
    margin-top: 30px;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-size: 32px;
    font-weight: lighter;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
}

h3 {
    font-size: 32px;
    font-weight: lighter;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

p {
    width: 75%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    font-size: 22px;
}

.page {
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}

.red-dot {
    color: red;
    font-size: 80px;
}

.red-dot-title {
    color: red;
    font-size: 40px;
}

.line-break {
    text-align: center;
    margin-top: 0px;
}

legend {
    font-size: 28px;
    text-align: left;
}

.js-goal-name {
    font-size: 24px;
    margin-bottom: 20px;
    width: 100%;
    padding-right: 5px;
}

.submit-new-goal, .submit-edited-goal {
    margin-top: 10px;
    background-color: black;
    width: 100%;
    font-size: 24px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: red;
}

textarea {
    padding-top: 2px;
    border-top-width: 1px;
    width: 100%;
    height: auto;
    font-size: 24px;
    padding-right: 5px;
}

ul {
    list-style: none;
    margin-top: 100px;
    margin-bottom: 80px;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 20px;
}

#new-goal, #edit-goal, li {
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

}

li {
    list-style: none;
}

#js-new-goal, #log-out {
    margin-right: 80px;
    margin-left: 80px;
    margin-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
    color: red;
    background-color: black;
}

nav {
    overflow: hidden;    
    position: fixed;
    top: 5px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

nav #js-new-goal {
    float: left;
    display: block;
}

nav #log-out {
    float: right;
    display: block;
}

.index {
    margin-top: 50px;
    margin-bottom: 80px;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 20px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

}

#register input, #log-in input {
    font-size: 20px;
    width: 31.5%;
    padding-left: 5px;
    
}

#new-goal .js-goal-name, #new-goal .js-mantra, #edit-goal .js-goal-name, #edit-goal .js-mantra {
    padding-left: 10px;
} 

.js-edit, .js-delete {
    font-size: 20px;
    width: 40%;
    color: red;
    background-color: black;
}

#js-error-message {
    font-size: 20px;
    color: red;
    text-align: center;
}

.mantra-header, .status-header {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
}

.mantras, #status {
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.radios {
    text-align: left;
    margin-left: 100px;
    margin-bottom: 10px;
}

.sign-up-button, .log-in-button {
    color: red;
    background-color: black;
}





@media only screen and (max-width: 500px) {
.index {
    width: 320px;
    margin-top: 20px;
}

html {
    width: 100%;
}

#new-goal, #edit-goal, li {
    width: 320px;
    margin-top: 0px;
}

#register input, #log-in input {
    font-size: 16px;
}

h1 {
    font-size: 48px;
    width: 300px;
    margin-top: 60px;
}

h2, h3 {
    font-size: 24px;
}

p {
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    font-size: 14px;
}

.page {
    font-size: 36px;
    font-weight: lighter;
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#js-new-goal, #log-out {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    color: red;
    background-color: black;
}

nav {
    top: 5px;
    right: 5px;
    left: 5px;
    width: 90%;
}

.red-dot {
    font-size: 40px;
}

.red-dot-title {
    font-size: 30px;
}

.mantra-header, .status-header, legend {
    font-size: 18px;
    text-align: left;
}

.mantras, #status {
    font-size: 24px;
}

.js-edit, .js-delete {
    font-size: 18px;
    width: 45%;
}

.submit-new-goal, .submit-edited-goal {
    font-size: 16px;
}

.radios {
    margin-left: 30px;

}
}